.calendar-box
{
    width: fit-content;
    height: fit-content;
    background-color: var(--calendarBG);
    border-radius: 15px;
    border: 1px solid var(--selectableBorder);
    box-shadow: #000000e1 0px 0px 15px;
    margin-top: 15px;

}
.date-part
{
    display: flex;
    justify-content: space-between;
    padding: 15px 50px 15px 50px;
    text-align: center;
    font-size: larger;
    border-bottom: 1px var(--selectableBorder) solid;
}

.cells-part {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 10px;
    text-align: center;
    padding: 15px;
}

.cells
{
    width: clamp(24px, 10vw, 64px);
    height: clamp(24px, 10vw, 64px);
    border-radius: 15px;
    background-color: var(--cells);
    border: 1px solid var(--cellsborder);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    transition: all 0.1s ease;
    -webkit-user-select: none;     
    -moz-user-select: none;
    -ms-user-select: none;
}

.cells:hover{
    background-color: var(--cellsborder);
}

.cells:active{
    background-color: #627abe;
}

.cells.selected{
    background-color: #252e46;
}

.calendar-button
{
    color: #b7b7b7e1;
    background-color: var(--cells);
    border: 1px solid var(--cellsborder);
    border-radius: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
}
.calendar-button:hover
{
    background-color:var(--cellsborder);

}
.calendar-button:active
{
    background-color:#627abe;

}

.calendar-button-primary
{
    background-color: var(--lighterBG);
}

.calendar-button-primary:hover
{
    background-color: var(--selectableBorder); 
    border: 1px solid var(--selectableBorder);
}

.calendar-button-secondary
{
    background-color: #252e46;
    border: 1px solid #3b445e;
}
.calendar-button-primary:active
{
    background-color: #474747; 
    border: 1px solid var(--selectableBorder);
}
.calendar-button-secondary:hover
{
    background-color: #5370be;
    border: 1px solid #5370be;
}
.calendar-button-secondary:active
{
    background-color: #627abe; 
    border: 1px solid #627abe;
}

.calendar-button-red
{
    background-color: rgb(33, 22, 22);
    border: 1px solid #5f3a3a;
}

.calendar-button-red:hover
{
    background-color: #5f3a3a;
    border: 1px solid #5f3a3a;
}

.calendar-button-red:active
{
    background-color: #7c5252;
    border: 1px solid #7c5252;
}