.box-container 
{
    width: 100vw;
    height: 100vh; 
    display: block;
    overflow-y: scroll;
    padding: 15px;
    gap:15px;
    background-image: radial-gradient(#363636 1px, #121212 1px);
    background-size: 60px 60px; /*animate*/
    animation: bg_anim 15s ease-in-out 0s infinite;
}

@keyframes bg_anim
{
    0%{
        background-size: 60px 60px;
    }
    50%
    {
        background-size: 62px 62px;
    }
    0%
    {
        background-size: 60px 60px;
    }
}

.box-container-flex
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}