.modal{
    width: 70%    ;
    height: min(50%, 300px);
    border: 1px #393939 solid;
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--calendarBG);
    justify-content: space-between;
    padding: 15px;
}

.modal-top {
    height: 95%;
    padding: 15px;
    width: 90%;
    overflow-y: auto;
}

.modal-top p {
    word-wrap: break-word;
    white-space: normal;
    width: 100%;
    margin-top: 25px;
}


.modal-bottom{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    border-top: 1px #393939 solid;
    padding: 5px 0px 5px 0px;
}