.modal{
    width: 630px    ;
    height: min(50%, 300px);
    border: 1px #393939 solid;
    margin:auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--calendarBG);
    justify-content: space-between;
}

.modal-top {
    height: 95%;
    padding: 15px;
    width: 500px;
    overflow-y: auto; /* Ensures scrolling if content exceeds height */
}

.modal-top p {
    word-wrap: break-word; /* Wraps long words that might overflow */
    white-space: normal;  /* Ensures text wraps normally */
    width: 100%; /* Ensures the <p> takes up the full width of the container */
}


.modal-bottom{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    border-top: 1px #393939 solid;
    padding: 5px 0px 5px 0px;
}