.auth-bg
{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: 9;
    display:flex;
    justify-content: center;
    align-items: center;
}

.auth-container
{
    width: 400px;
    height: 800px;
    background-color: #1B1B1B;
    border: 1px solid #393939;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-container img
{
    margin: 35px;
}
.auth-fields
{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
}


.auth-fields p{
    font-size: 2rem;
    font-family: var(--font-karla);
    text-align: center;
}

.auth-fields input{
    height: 35px;
    border-radius: 15px;
    font-size: 1rem;
    

    background-color: #1F1F1F;
    border: 2px solid #3e3e3e;
    margin: 0px auto 0px auto;
    padding: 10px
}

.buttons
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 25px;
    border-top: 1px var(--selectableBorder) solid;
}

.buttons p
{
    text-align: center;
    font-size: medium;
}

.buttons a
{
    text-decoration: underline;
    
}

.textarea:focus, input:focus{
    outline: none;
}

.error-msg
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin: 10px;   
}
.error-msg-h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: medium;
    background-color: rgb(95, 31, 31);
    border: 1px rgb(152, 69, 69) solid;
    border-radius: 10px;
    height: 25px;
    padding: 5px;
}